body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.header {
    border-bottom: 3px solid #2d00f5;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container {
    justify-content: space-between;
}

.titulo {
    color: #74eaff;
    font-weight: 600;
}

.navbar {
    color: #ffee00;
    font-weight: 600;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}